body {
  color: black;
}

.loader h1 {
  color: white;
}

.login {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}

.login img {
  width: 300px;
  border-radius: 20px;
}

.form-main,
.form-body,
.form-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-header {
  margin: 1.5rem 0;
}

.form-body {
  gap: 2rem;
}

.form-main {
  padding: 0 2rem;
  width: 25rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form-input a {
  font-size: 0.8rem;
}

.form-body [type="submit"] {
  background-color: black;
  color: white;
  padding: 0.7rem;
}

.form-body input {
  font-size: 0.8rem;
  padding: 0.5rem;
  border: none;
  outline: solid #414141 2px;
  border-radius: 6px;
  /* padding: 0.5rem; */
}

.form-body input::placeholder {
  color: rgba(0, 0, 0, 50%);
}

@media (max-width: 740px) {
  .login img {
    display: none;
  }
}

@media (max-width: 500px) {
  .form-main {
    width: 100%;
  }
}

.error {
  color: red;
  display: none;
  font-family: "Lexend";
  font-size: smaller;
}

/* #email.error,
#password.error {
  outline: solid #ff0000 2px;
}

#email.error:focus {
  outline: solid #ff0000 2px;
} */

.form-footer {
  text-align: center;
  color: rgba(0, 0, 0, 50%);
}

.login-alternative,
.or {
  text-align: center;
  color: #929191;
}

.or {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.or span {
  padding: 0 0.3rem;
}

.or:before,
.or:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #d9d9d9;
  margin: auto;
}

.login-alternative {
  display: flex;
  flex: 50%;
  gap: 1rem;
}

.login-alternative button {
  padding: 0.5rem;
  width: 100%;
  background-color: #353535;
  color: white;
}

.login button:hover,
.login a:hover {
  opacity: 0.9;
}

button:hover {
  cursor: pointer;
}
