/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;

  justify-items: end;

  margin-right: 40px;
  padding: 6rem 2vw 2vw;
} */

.container {
  display: flex;
  gap: 1px;

  justify-items: end;

  /* margin-right: 40px; */
  padding: 6rem 2vw 2vw;
  margin: 0 7rem;
}

.image-container {
  flex: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-container img {
  height: 100%;
  width: 100%;
}

.images {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 10px;
}

.images img {
  width: 200%;
  border-radius: 4px;
  margin-left: 30px;
}

.details {
  /* flex: 1; */
  margin-left: 10px;
  max-width: 420px;
  border: solid;
  border-top-right-radius: 5px;
  padding: 30px;
}

.details h1 {
  font-size: 22px;
  margin-bottom: 5px;
}

.price {
  font-size: 18px;
  margin-bottom: 10px;
}

.details p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.title {
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 15px;
}

.box {
  display: inline-block;
  border: 1px solid #000;
  padding: 8px 14px;
  margin-right: 6px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.buy {
  width: 100%;
  background: #000;
  color: #fff;
  border: none;
  padding: 14px;
  font-size: 16px;
  margin-top: 20px;
}

.add-cart {
  width: 100%;
  background: #000;
  color: #fff;
  border: none;
  padding: 14px;
  font-size: 16px;
  margin-top: 10px;
}

.form-input input[type="radio"] {
  display: none;
}

.form-input input[type="radio"]:checked + label {
  background-color: gray;
}
